<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view</title>
</head>
<body>
    <h2>标题:<%= blogrs[0].title%></h2>
    <p>作者:<%= blogrs[0].name%> 时间:<%= blogrs[0].time%> </p>
    <p>文章:<%= blogrs[0].content%></p>
   <p>访问量:<%= blogrs[0].hits%></p>

</body>
</html>